body {
  font-family: "Rubik", sans-serif;
  background-color: #f6f6f6;
}
nav {
  height: 50px;
}
nav ul li {
  list-style: none;
  margin: 5px 10px;
}
.nav-items a:hover {
  color: #4f585e !important;
}
#logo {
  width: 30px;
  height: 30px;
  transform: scale(1.5);
}
#website-title {
  margin: 0 20px;
  font-size: 26px;
}
.poster img {
  width: 100%;
}

.search {
  width: 500px;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid #4f585e;
  padding: 3px 10px 2px 10px;
  outline: none;
}

.products-section-heading {
  font-size: 22px;
  color: #4f585e;
}
.all-products {
  background: #ffffff;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
  padding: 10px 0;
}
.product-container {
  width: 200px;
  border: 1px solid #80808052;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
}
.product-img {
  object-fit: contain;
  height: 170px;
  width: 150px;
}
.product-title {
  height: 35px;
  margin: 8px 0;
  font-size: 16px;
  color: #2b2f32;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
  padding-bottom: 40px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-price {
  font-size: 14px;
  /* font-weight: bold; */
  margin-bottom: 0;
}
.going-top {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 40px;
  background: darkblue;
}
.footer-details-container {
  border-left: 1px solid white;
}
