:root {
  --primary-color: #0d6efd;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}
nav {
  height: 50px;
  position: fixed;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}
.logo-name {
  display: flex;
  color: white;
  margin: auto 1rem;
}
.nav-logo {
  width: 46px;
  height: 46px;
}
nav h2 {
  margin: auto 1rem;
  transform: translateY(4px);
  font-size: 26px;
}
nav ul {
  margin: auto 2rem;
}
nav li {
  display: inline;
  margin: 0 5px;
}
nav li :hover {
  text-decoration: underline;
}
nav li a {
  text-decoration: none;
  color: white;
}
.login {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}

.poster img {
  margin-top: 50px;
  width: 100%;
}

.search {
  width: 450px;
  height: 25px;
  margin: 0.3rem auto;
  display: block;
  border-radius: 5px;
  border: 1px solid #4f585e;
  padding: 3px 10px 2px 10px;
  outline: none;
  position: sticky;
  top: 12px;
  font-size: 16px;
}
.product-section {
  margin: 0 auto;
  width: 99%;
  display: flex;
  flex-direction: column;
}
.products-section-heading {
  font-size: 22px;
  color: #4f585e;
  margin-left: 20px;
}
.all-products {
  background: #ffffff;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
  padding: 10px 0;
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-container {
  width: 170px;
  border: 1px solid #80808052;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
}
.product-img {
  object-fit: contain;
  height: 170px;
  width: 150px;
}
.product-title {
  height: 35px;
  margin: 8px 0;
  font-size: 16px;
  color: #2b2f32;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-price {
  font-size: 14px;
  margin-bottom: 0;
}

.location-section h3 {
  font-size: 2rem;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
}
.map-shop {
  display: flex;
}
.map {
  width: 50%;
  height: 400px;
  margin-left: 1rem;
}
.map-img {
  width: 98%;
  height: 100%;
}
.shop {
  width: 50%;
  height: 400px;
  margin-right: 1rem;
}
.shop-img {
  width: 98%;
  height: 100%;
}
/* .going-top {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 40px;
  background: darkblue;
} */

footer {
  background-color: var(--primary-color);
  color: white;
  margin-top: 0.5rem;
  padding: 1rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}
.logo-footer {
  margin-left: 30%;
  display: flex;
  align-items: center;
}
.logo-footer h2 {
  margin-left: 1rem;
  font-size: 26px;
}
.logo-footer img {
  width: 70px;
  height: 70px;
}
.address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  margin-right: 30%;
  padding: 0 0 10px 10px;
  border-left: 2px solid white;
  line-height: 25px;
}
.address p {
  margin: 0.2rem 0;
}
.social-media {
  text-align: center;
}
.social-media li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}
.social-media li a {
  text-decoration: none;
  color: white;
}
.copyright-msg {
  text-align: center;
}
/* ~~~~~~~~~~~~~~~Media-querryy~~~~~~~~~~~~~~~~ */

@media (max-width: 1100px) {
  .search {
    width: 35%;
  }
}

@media (max-width: 749px) {
  .search {
    position: static;
    width: 400px;
  }
  #products-section {
    padding: 0 !important;
  }
  .products-section-heading {
    padding: 0 1.5rem;
    font-size: 20px;
  }
  .product-container {
    width: 180px;
    margin-bottom: 10px;
  }
  .product-img {
    height: 150px;
    width: 135px;
  }
  .product-title {
    font-size: 15px;
    padding-bottom: 30px;
    height: 34px;
  }
  .product-price {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .location-container {
    flex-direction: column !important;
  }
  .location-container div {
    width: 80% !important;
    margin: 6px;
  }
  .map {
    margin-right: 0;
  }
  .shop-img {
    margin-left: 0;
  }
  .footer-info-container {
    padding: 0 !important;
  }
  .footer-left-container {
    font-size: 15px;
    padding: 0 10px !important;
  }
  #footer-logo {
    width: 50px;
    height: 50px;
  }
  #footer-title {
    margin: 0 12px;
    font-size: 22px;
  }
  .footer-right-container {
    font-size: 15px;
    padding: 0 10px !important;
  }
}

@media (max-width: 480px) {
  .nav-ul {
    display: none !important;
  }
  .search {
    width: 90%;
  }
  .products-section-heading {
    padding: 0 0.5rem;
    font-size: 18px;
    margin-bottom: 3px;
    margin-top: 15px !important;
  }
  .location-container div {
    width: 100% !important;
  }
  #footer {
    padding: 15px 8px 8px 8px !important;
  }
  #footer-logo {
    width: 45px;
    height: 45px;
  }
  #footer-title {
    margin: 0 8px;
    font-size: 18px;
  }
  .footer-last {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .product-container {
    width: 150px;
    margin: 5px;
  }
  .product-img {
    height: 130px;
    width: 115px;
  }
  .product-title {
    font-size: 14px;
    padding-bottom: 30px;
    height: 30px;
  }
}

@media (max-width: 330px) {
  .product-container {
    width: 88%;
  }
  .product-img {
    display: block;
    margin: auto;
    height: 150px;
    width: 135px;
    margin-bottom: 12px;
  }
  .product-title {
    font-size: 15px;
    height: 38px;
  }
}
