.login-form {
  width: 100%;
  background: #f0f8ffc2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0 50px 0;
}

.card {
  max-width: 400px;
  width: 400px;
  border-radius: 5px;
  background-color: #ffff;
  padding: 30px;
  padding-top: 40px;
  box-shadow: 2px 5px 20px rgb(0 0 0 / 10%);
  position: relative;
  animation: pop-in;
  transform: scale(0);
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.title {
  text-align: center;
}

.or {
  border-bottom: 2px solid rgb(245 239 239);
  margin: 25px 0;
}

.email-login {
  display: flex;
  flex-direction: column;
}
.email-login label {
  color: rgb(170 166 166);
  font-weight: 500;
}

input[type="text"],
input[type="password"] {
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
}

.cta-btn {
  background-color: rgb(69, 69, 185);
  color: white;
  padding: 15px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}
