:root {
  --primary-color: #0d6efd;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}

.root {
  opacity: 0;
  animation: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav,
.poster-section,
.location-section,
.products-section,
.footer {
  max-width: 1440px;
  margin: auto;
}

/* --------------------------------- NAV-BAR -------------------------------- */
nav {
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav {
  padding: 0 15px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.nav-logo {
  width: 50px;
  height: 45px;
}
.title {
  transform: translateY(4px);
  font-size: 26px;
  margin: 0 10px;
  font-weight: 500;
}
.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.nav-ul li {
  display: inline;
  margin: 0 8px;
}
.nav-ul li :hover {
  text-decoration: underline;
}
.nav-ul li a {
  text-decoration: none;
  color: white;
}
.login {
  /* border: 1px solid white; */
  /* border-radius: 5px; */
  color: white;
  cursor: pointer;
}
.login:hover {
  color: #d7d7d7;
}

/* --------------------------------- POSTER --------------------------------- */
.poster-section {
  z-index: -1;
}
.poster img {
  padding-top: 50px;
  width: 100%;
  filter: hue-rotate(45deg);
  max-height: 250px;
}

/* --------------------------------- SEARCH --------------------------------- */
.search {
  font-family: inherit;
  width: 450px;
  height: 30px;
  margin: 5px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid #4f585e;
  color: #313038;
  padding: 3px 10px 2px 10px;
  outline: none;
  position: sticky;
  top: 12px;
  font-size: 16px;
  z-index: 3;
}

/* -------------------------- Product-detail pop up ------------------------- */
.product-detail {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #f0ffff75;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pop-in;
  transform: scale(0);
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.pd-container {
  position: relative;
  width: 90%;
  height: 90vh;
  background: aliceblue;
  padding: 40px 25px;
  border-radius: 5px;
  overflow-y: scroll;
  border: 1px solid darkgrey;
}
.pop-up-close {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 2px 6px;
  /* border: 1px solid #000000; */
  background-color: transparent;
  border-width: 0;
  border-radius: 5px;
  opacity: 0.7;
}
.pop-up-close img {
  height: 30px;
  width: 30px;
}
.pop-up-img {
  height: 260px;
  width: 250px;
  display: block;
  margin: auto;
}
.pop-up-title {
  font-weight: 500;
}
/* .pop-up-price {
}
.pop-up-info {
} */

/* ----------------------------- PRODUCTS-SECTION ---------------------------- */
.products-section {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.products-section-heading {
  font-size: 22px;
  color: #4f585e;
  font-weight: 500;
  margin: 15px 0 10px 0;
}
.all-products {
  background: #ffffff;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  min-height: 294px;
}
.product-container {
  width: 170px;
  border: 1px solid #80808052;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
  cursor: pointer;
}
.product-container:hover {
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 52%);
}
.product-img {
  object-fit: contain;
  height: 170px;
  width: 150px;
}
.product-title {
  font-weight: 500;
  height: 35px;
  margin: 8px 0;
  font-size: 16px;
  color: #2b2f32;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-price {
  font-size: 14px;
  margin: 0;
}

/* ---------------------------- LOCATION-SECTION ---------------------------- */
.location-section h3 {
  padding: 0 15px;
  margin: 15px 0;
  font-size: 24px;
  font-weight: 500;
  color: #4f585e;
}
.map-shop {
  display: flex;
}
.map {
  width: 50%;
  height: 400px;
}
.map-img {
  width: 100%;
  height: 100%;
}
.shop {
  width: 50%;
  height: 400px;
}
.shop-img {
  width: 100%;
  height: 100%;
}

.going-top {
  position: fixed;
  right: 2px;
  bottom: 2px;
  /* overflow: hidden;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  background: white;
  padding: 3px;
  border: 2px solid #11a9c6; */
}
.going-top img {
  width: 30px;
  height: 30px;
}

/* --------------------------------- FOOTER --------------------------------- */
footer {
  background-color: var(--primary-color);
}
.footer {
  color: white;
  padding: 15px 15px 10px 15px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.logo-footer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-footer h2 {
  font-size: 25px;
  margin: 0 10px;
  font-weight: 500;
}
.logo-footer img {
  width: 70px;
  height: 70px;
}
.address {
  width: 50%;
  flex-wrap: wrap;
  padding: 3px 0 3px 10px;
  border-left: 2px solid white;
  line-height: 25px;
}
.address p {
  margin: 0;
}
.social-media {
  text-align: center;
  padding-left: 0;
}
.social-media li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
.social-media li a {
  text-decoration: none;
  color: white;
}
.social-logo {
  width: 45px;
  height: 45px;
  opacity: 0.92;
}
.copyright-msg {
  text-align: center;
  margin-bottom: 0;
}

/* ~~~~~~~~~~~~~~~ Media-querryy ~~~~~~~~~~~~~~~~ */

@media (max-width: 1100px) {
  .search {
    width: 35%;
  }
}

@media (max-width: 749px) {
  .title {
    font-size: 24px;
  }
  .search {
    position: static;
    width: 400px;
    z-index: 0;
  }
  .all-products {
    min-height: 272px;
  }
  .products-section {
    padding: 0;
  }
  .products-section-heading {
    font-size: 20px;
    padding: 0 15px;
    margin-bottom: 6px;
  }
  .product-container {
    width: 160px;
  }
  .product-img {
    height: 150px;
    width: 135px;
  }
  .product-title {
    font-size: 15px;
  }
  .product-price {
    font-size: 13px;
  }
  .location-section h3 {
    margin-bottom: 6px;
  }
  .logo-footer h2 {
    font-size: 23px;
  }
  .logo-footer img {
    width: 60px;
    height: 60px;
  }
  .address {
    font-size: 15px;
  }
  .copyright-msg {
    font-size: 15px;
  }
}

@media (max-width: 530px) {
  .nav,
  .products-section-heading,
  .location-section h3,
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .title {
    font-size: 23px;
  }
  .nav-ul {
    font-size: 14px;
  }
  .poster img {
    height: 160px;
  }
  .search {
    width: 80%;
  }
  .products-section-heading,
  .location-section h3 {
    font-size: 18px;
  }
  .all-products {
    min-height: 236px;
  }
  .product-container {
    width: 140px;
  }
  .product-img {
    height: 120px;
    width: 110px;
  }
  .product-title {
    font-size: 13px;
    height: 30px;
  }
  .product-price {
    font-size: 12px;
  }
  .map-shop {
    flex-direction: column;
    /* padding: 0 15px; */
  }
  .map {
    width: 100%;
    height: 320px;
  }
  .shop {
    height: 320px;
    width: 100%;
  }

  .logo-footer h2 {
    font-size: 20px;
  }
  .logo-footer img {
    width: 55px;
    height: 55px;
  }
  .logo-footer {
    display: none;
  }
  .address {
    font-size: 14px;
    width: 100%;
  }
  .social-media {
    font-size: 14px;
  }
  .copyright-msg {
    font-size: 14px;
  }
}

/* ----------------------------- Hamburger menu ----------------------------- */
.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu div {
  background-color: ghostwhite;
  width: 32px;
  height: 2px;
  margin: 4px 0;
  display: block;
  transition: all 0.4s ease;
  transform-origin: 0 0;
}

.close div:nth-child(1) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.close div:nth-child(2) {
  transform: scaleX(0);
}

.close div:nth-child(3) {
  transform: rotate(-45deg) translate(-1px, 0);
}

@media (max-width: 480px) {
  .nav-ul {
    transform: translateY(-200px);
    /* opacity: 0; */
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--primary-color);
    top: 34px;
    left: 0;
    width: 100%;
    padding: 0;
    font-size: 15px;
  }
  .nav-ul li {
    padding: 10px 10px 10px 15px;
    width: 100%;
  }
  .hamburger-menu {
    padding: 4px 12px;
    /* border: 1px solid #2e2323; */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* .hamburger-menu img {
    height: 30px;
    width: 30px;
  } */
}

@media (max-width: 330px) {
  .all-products {
    min-height: 277px;
  }
  .product-container {
    width: 88%;
  }
  .product-img {
    display: block;
    margin: auto;
    height: 150px;
    width: 135px;
    margin-bottom: 12px;
  }
  .product-title {
    font-size: 15px;
    height: 38px;
  }
  .product-price {
    font-size: 14px;
  }
  .pop-up-img {
    height: auto;
    width: 100%;
  }
}

.show {
  transform: translateY(0);
}
